html, body { height: 100% }

#ak-editor-toolbar {
    width: 100%;
    height: 40px;
    border: solid 3px black;
    background-color: lightgrey;
}

.ak-editor-button {
    width: 100px;
    height: 30px;
    border: ridge 3px red;
    background-color: white;
    padding: 5px;
    margin: 5px;
}

#newFileModal #ak-edit-editor-pathname-inputs #ak-editor-add-dirname {
	width: 100%;
	float: left;
}

#newFileModal #ak-edit-editor-pathname-inputs #ak-editor-pathname-input {
	width: 66%;
	float: left;
}

#newFileModal #ak-edit-editor-pathname-inputs #ak-editor-fnextension {
	width: 33%;
	float: left;
}

#ak-editor-new-metadata-input, #ak-editor-edit-metadata-input {
    width: 100%;
    height: 150px;
}

#ak-editor-new-content-input, #ak-editor-edit-content-input {
    width: 100%;
    height: 350px;
}

#ak-editor-files-sidebar a {
	color: white;
}

#ak-editor-editor-area {
	height: 100%;
}

#ak-editor-editor-area iframe {
    width: 100%;
	height: 700px;
}

#ak-editor-editor-area #ak-page-editor-frame {
	display: none; /* hide by default */
}

#ak-editor-messages-area #ak-editor-messages {
	float: left;
}

#ak-editor-messages-area button {
	float: right;
}