html, body { height: 100% }

#ak-editor-toolbar {
    width: 100%;
    height: 40px;
    border: solid 3px black;
    background-color: lightgrey;
}

.ak-editor-button {
    width: 100px;
    height: 30px;
    border: ridge 3px red;
    background-color: white;
    padding: 5px;
    margin: 5px;
}

#ak-editor-metadata-input {
    width: 100%;
    height: 200px;
}

#ak-editor-content-input {
    width: 100%;
    height: 400px;
}

#ak-editor-files-sidebar a {
	color: white;
}

#ak-editor-editor-area {
	height: 100%;
}

#ak-editor-editor-area iframe {
    width: 100%;
	height: 700px;
}

#ak-editor-editor-area #ak-page-editor-frame {
	display: none; /* hide by default */
}

#ak-editor-messages button {
	float: right;
}